<div class="box">
  <h1>Angular Full Stack Project</h1><hr>
  <h2>This project uses MEAN stack </h2>
  <ul>
    <li><a href="http://www.mongoosejs.com" target="_blank"><b>M</b>ongoose.js</a> (<a href="https://www.mongodb.com" target="_blank">MongoDB</a>): database</li>
    <li><a href="http://www.expressjs.com" target="_blank"><b>E</b>xpress.js</a>: backend framework</li>
    <li><a href="https://www.angular.io" target="_blank"><b>A</b>ngular 2+</a>: frontend framework
</li>
    <li><a href="https://www.nodejs.org" target="_blank"><b>N</b>ode.js</a>: runtime environment</li>
  </ul><hr>

<div class="box1">
  <h2>User Stories</h2>
  <ul>
    <li>You can navigate trough products</li>
    <li>By clicking on product you can see its details</li>
    <li>You can update product</li>
    <li>You can delete and make new products</li>
  </ul><hr>
</div>
<div class="contact">
<h4> Check out <a href="#" target="_blank"><b>GitHub</b></a> project repository.</h4>
</div>
</div>
